{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="color: #11DCA6;">Keep Note</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div> -->
    </nav>

    {% if sucess %}
    <div class="alert alert-success alert-dismissible fade show" id="alert-sucess" role="alert">
        <strong>{{sucess}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="closeAlert()" aria-label="Close">X</button>
    </div>
    {% endif %}

    <svg viewBox="0 0 1800 300">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">Note Keeping App</text>
        </symbol>
    
        <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
    </svg>



    <!-- <div style="margin-top: 50px;">
        <h1 style="color: white; text-align: center;">Welcome to
            <span class="txt-rotate" data-period="2000"
                data-rotate='[ "note keeping app.", "your personal diary."]'></span>
        </h1>
    </div> -->

    <div class=" main1" id="outPopUp">
        <div>
            <div>
                <button class="m-2 btn btn-primary submit-btn login-signup-btn" data-toggle="modal" data-target="#modalLoginForm">Log
                    in</button>
                <button class="m-2 btn btn-primary submit-btn login-signup-btn" data-toggle="modal" data-target="#modalRegisterForm">Sign
                    up</button>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" style="color: #11DCA6;">Log in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    {% if errormsg|length > 0 %}
                        <p style="padding: 6px;color: #FF0000;text-align: center;border: 2px solid #FF6600;font-weight: 500;font-size: 20px;border-radius: 8px;">{{errormsg}}</p>
                    {% endif %}
                    <form method="POST" action="{% url 'login' %}">
                        {%csrf_token%}
                        <div class="form-group">
                            <label style="color: white;" for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control input1" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label style="color: white;" for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control input1" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-primary submit-btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- --------------------------------------- -->

    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" style="color: #11DCA6;">Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                    {% if error|length > 0 %}
                        <p style="padding: 6px;color: #FF0000;text-align: center;border: 2px solid #FF6600;font-weight: 500;font-size: 20px;border-radius: 8px;">{{error}}</p>
                    {% endif %}

                    <form method="POST" action="{% url 'signup' %}">
                        {%csrf_token%}
                        <div class="form-group">
                            <label style="color: white;" for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control input1" id="InputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label style="color: white;" for="exampleInputEmail1">First Name</label>
                            <input type="text" name="firstName" class="form-control input1" id="Inputfirstname"
                                aria-describedby="emailHelp" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label style="color: white;" for="exampleInputEmail1">Last Name</label>
                            <input type="text" name="lastName" class="form-control input1" id="Inputlastname"
                                aria-describedby="emailHelp" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label style="color: white;" for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control input1" id="InputPassword1"
                                placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label style="color: white;" for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" name="cpassword" class="form-control input1" id="ConfirmInputPassword1"
                                placeholder="Confirm Password">
                        </div>

                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-primary submit-btn">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>





    <script type="text/javascript">

        
        {% if loginModel %}
            $('#modalLoginForm').modal('show');
        {%endif%}

        var signUpModelShow = '{{open_signup_model}}';
        if (signUpModelShow == 'true'){
            $('#modalRegisterForm').modal('show');
        }


        function closeAlert(){
            $('#alert-sucess').hide();
        }


        var TxtRotate = function (el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtRotate.prototype.tick = function () {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

            var that = this;
            var delta = 300 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
            }

            setTimeout(function () {
                that.tick();
            }, delta);
        };

        window.onload = function () {
            var elements = document.getElementsByClassName('txt-rotate');
            for (var i = 0; i < elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-rotate');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                    new TxtRotate(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
            document.body.appendChild(css);
        };
    </script>



    
</body>

</html>